@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "SF Pro Text", "Segoe UI", sans-serif;
}

html.lenis {
  height: auto;
}

html.lenis,
html.lenis body {
  scroll-behavior: auto !important;
}
